.whole{
    display: flex;
    justify-content: center;
    padding: 19px 0;
    

    .contact{
        width: 50%;
        text-align: left;

        .error{
            outline: purple;
            border: 1px solid red;
        }
        .noError{
            border: 0.7px solid rgba(73, 71, 71, 0.384);
        }

        h1{
            font-family: 'Inter';
            margin-bottom: 4px;
        }
        p{
            margin-bottom: 45px;
            color: rgba(37, 35, 35, 0.87);
        }

        .a{
            margin-bottom: 16px;
            width: 100%;

            span{
                color: red;
                margin: 3px 8px;
                font-size: 13px;
            }
            label{
                font-size: 13.6px;
                font-weight: 600;
                display: block;
                color: rgb(75, 72, 72);
                margin-bottom: 4.5px;
            }
            input{
                padding: 9px 12px;
                color: black;
                border-radius: 7px;
                font-family: 'Inter';
                box-shadow: 1px 1.5px 4px rgba(128, 128, 128, 0.582);

                &::placeholder{
                    color: grey;
                }

            }
            input[type=email]{
                width: 96%;
            }

           .check{
            font-weight: 600;
            font-size: 13px;
            margin-left: 6px;
            display: inline-block;
           }
            
            textarea{
                font-family: 'Inter';
                padding: 12px 9px;
                border-radius: 7px;
                box-shadow: 1px 2px 4px rgba(128, 128, 128, 0.582);
                width: 97%;

             &::placeholder{
                
                text-transform: none;
             }
            }
        }
        .b{
            display: flex;
            justify-content: space-between;
        }
        .c{
            box-sizing: border-box;
            width: 100%;

            input{
                width: 85%;
            }
        }
        .d{
            box-sizing: border-box;
            width: 100%;

            input{
                width: 92%;
            }
        }
        .e{
            position: relative;
            display: flex;
            align-items: center;

            input{
                position: absolute;
                top: 0;
                left: 0;
            }

            label{
                position: relative;
                left: 20px;
            }

        }
        .g{
            display: flex;
            flex-direction: column;

            .c{

                input{
                    width: 96%;
                }
            }
            .d{

                input{
                    width: 96%;
                }
            }
        }

        button{
            background: rgb(31, 97, 196);
            color: white;
            font-weight: 600;
            padding: 10px ;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 8px;
        }

    }
    @media (max-width: 768px){
        .contact{
            width: 90%;

            label{
                font-size: 15px;
            }

            input{
                font-size: 15px;
            }
            textarea{
                font-size: 15px;
            }

            .check{
                padding-right: 10px;
            }
        }
    }
}