footer{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0 60px;

    .text{

        span{
            color: rgb(36, 33, 33);
            font-size: 14.5px;
        }
    }

    @media (max-width: 768px){
        flex-direction: column;
        gap: 15px;
        margin-left: 5%;
        text-align: left;
    }
   
}
hr{
    border-style: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.336);
    margin-top: 80px;
    width: 70%;

}

@media (max-width: 768px){
    hr{
        width: 86%;

    }
}